<for|name| of=input>
    <div class="swiper-slide">
            <div.card>
              <div.card-title>
              <a href=`https://www.imdb.com/title/${name.imdbID}/videogallery/`>${name.Title}</a>
              </div>
                <div.card-image style=`background-image: url(${name.Poster});`></div>
              <div.card-year>${name.Year}</div>
              <div.card-rating><i class="fa fa-star-o" aria-hidden="true"></i>${name.rating}</div>
            </div>
    </div>
</for>